body {
    margin: 0;
    background-color: rgb(255, 226, 232);
}

/* header */
header {
    border-bottom: 2rem solid rgb(251, 190, 203);
    background-color: white;
    padding: 20px;
    font-size: 60px;
    text-align: center;
}

span {
    display: block;
    font-size: 40px;
}

/* all columns */

main {
    display: flex;
    justify-content: space-around;
}

/* text  */

h1 {
    font-size: 25px;
}

p {
    font-size: 18px;
}

.text {
    margin-left: 2rem;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

/* video */ 
video {
    margin-left: 2rem;
    margin-top: 1rem;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(246, 145, 165);
    width: 600px;
}
/* wiki pages */

iframe {
    margin-top: 2rem;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(246, 145, 165);
    width: 500px;
    height: 700px;
}

/* playback controls */

form {
    margin-left: 2rem;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

legend {
    padding: 0.3rem;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 226, 232);
    border-radius: 10%;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(246, 145, 165);
    border-width: 4px;
}

fieldset {
    padding: 0.8rem;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(246, 145, 165);
    background-color: rgb(255, 203, 213);
}

/* footer */

footer {
    padding: 20px;
    margin-top: 3rem;
    border-top: 2rem solid rgb(251, 190, 203);
    background-color: white;
}

.fp {
    font-size: 20px;
}

.ftext {
    margin: 2rem;
    font-size: 20px;
}

.home {
    font-weight: bold;
    color: rgb(255, 108, 140);
}

@media screen and (max-width:1100px) {
    header {
        font-size: 40px;
    }

    span {
        font-size: 30px;
    }

    main {
        display: block;
    }

    .text {
        width: 500px;
        margin-left: 3.5rem;
    }

    video {
        width: 500px;
        margin-left: 3.5rem;
    }

    form {
        margin: 1rem;
    }

    iframe {
        margin: 3.5rem;
        margin-top: 2rem;
    }

    footer {
        margin-top: -0.5rem;
    }

}